name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - develop
      - hotfix/*

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Get the sources
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install .NET SDK 8.0.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Run Cake script
        uses: cake-build/cake-action@v3
        env:
          NuGetReportSettings_SharedKey: ${{ secrets.NUGETREPORTSETTINGS_SHAREDKEY }}
          NuGetReportSettings_WorkspaceId: ${{ secrets.NUGETREPORTSETTINGS_WORKSPACEID }}
          GH_PACKAGES_NUGET_SOURCE: ${{ secrets.GH_PACKAGES_NUGET_SOURCE }}
          NUGET_SOURCE: ${{ secrets.NUGET_SOURCE }}
          NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_AUTHORITY_HOST: "https://login.microsoftonline.com"
          AZURE_DOMAIN: ${{ secrets.AZURE_DOMAIN }}
        with:
          cake-version: tool-manifest
          target: GitHub-Actions

      - name: Setup Pages
        if: runner.os == 'Linux' && github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5

      - name: Upload pages artifact
        if: runner.os == 'Linux' && github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v4
        with:
          path: './artifacts/web/output'

  deploy:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
